
Button {
    background-color: #ccc;
    display: inline-block;
    margin: 5px;
  }
  .Buttons {
    text-align: center
  }

  .atom-search-1 {
    border-radius: 50px;
    border: 2px solid black;
    border-right: 0px solid;
  }

  .mainnavbar-title {
    color: #f1641e !important;
    font-weight: bold !important;
    font-size: 2rem;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
      Arial, sans-serif;
  }